@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

/*Reset Styles*/
html, body{
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Indie Flower', Monospace;
}

h1{
	font-size: 70px;
}

/*Styles for the background Image*/
.bimg{
	background-image: url("cafe.jpg");
	height: 100%;
	width: 100%;
	margin:auto;
	background-size: cover;
	display: table;
	
}

/*Content Alignment*/
.inner{
		
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
	text-align: center;

}

/*Button Styles, along with the transitions on hover*/
.btn{
	font-size: 20px;
	display: inline-block;
	width: 200px;
	padding: 8px;
	border: 2px solid black;
	text-align: center;
	outline: none;
	color: black;
	text-decoration: none;
	transition: color 0.3s ease-out, border 0.3s ease-out;
	font-weight: bold;
	
}


.btn:hover, .btn:active{
	color: #ecf0f1;
	border:2px solid #ecf0f1;
	transition: border 0.4s ease-in, color 0.4s ease-in;

}
